/* tables */
/*
table.tablesorter {
    font-family:arial;
    background-color: #CDCDCD;
    font-size: 7pt;
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 0px;
}
table.tablesorter thead tr .header {
    background-image: url(../static/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter tbody td {
    color: #3D3D3D;
    background-color: #FFF;
    vertical-align: top;
    white-space: nowrap;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(../static/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(../static/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
*/

/*
 * new table css
 */


table.tablesorter div.arrow {
    background: transparent url(../static/arrows.png) no-repeat scroll 0px -16px;
    width: 16px;
    height: 16px;
    display: block;
    cursor: pointer;
}
table.tablesorter div.up {
    background-position: 0px 0px;
}

        
/* define table skin */
table.tablesorter {
    margin: 0;
    padding: 0;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

table.tablesorter * {
    font: 11px Arial, Helvetica, sans-serif;
    vertical-align: top;
    text-align: left;
}

table.tablesorter thead, table.tablersorter .collapsible {
    background-color: #e6edc1;
}

table.tablesorter th {
    color: #565770;
    padding: 4px 16px 4px 6px;
    cursor: pointer;
    font-weight: bold;
} 

table.tablesorter td {
    color: #565770;
    padding: 4px 6px;
}

table.tablesorter th.headerSortUp {
    background: #e6edc1 url(../static/tablesorter_bkgrd.png) no-repeat 100% -80px;
}

table.tablesorter th.headerSortUp span {
    background: #e6edc1 url(../static/tablesorter_bkgrd.png) no-repeat 0 -80px;
}

table.tablesorter th.headerSortDown {
    background: #e6edc1 url(../static/tablesorter_bkgrd.png) no-repeat 100% 2px;
}

table.tablesorter th.headerSortDown span {
    background: #e6edc1 url(../static/tablesorter_bkgrd.png) no-repeat 0 2px;
}

table.tablesorter th span {
    padding: 4px 0 4px 6px;
    font-weight: bold;
}

table.tablesorter tr.master {
    background-color: #dadada;
}

table.tablesorter td p {
    margin: 4px 0 4px 0;
}

table.tablesorter td p:nth-child(2) {
    margin: 0 0 4px 0;
    
}

table.tablesorter td p:last-child {
    margin: 4px 0 0 0;
}

table.tablesorter td div strong {
    font-weight: bold;
}

table.tablesorter td div em {
    font-style: italic;
}


/* expand/collapse */
table.grid .collapsible {
    padding: 0 0 3px 0;
}