/*
 * species list table
 */

table.tablesorter div.arrow {
    background: transparent url(../static/arrows.png) no-repeat scroll 0px -16px;
    width: 16px;
    height: 16px;
    display: block;
    cursor: pointer;
}
table.tablesorter div.up {
    background-position: 0px 0px;
}
     
/* 
 * define table skin 
 */

table.tablesorter, table.dashtable {
    margin: 0;
    padding: 0;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

table.tablesorter *, table.dashtable * {
    font: 11px Arial, Helvetica, sans-serif;
    vertical-align: top;
    text-align: left;
}

table.tablesorter thead, table.tablersorter .collapsible, table.dashtable thead,
table.dashtable .collapsible {
    background-color: #e6edc1;
}

table.tablesorter th, table.dashtable th {
    color: #565770;
    padding: 4px 16px 4px 6px;
    cursor: pointer;
    font-weight: bold;
} 

table.tablesorter td, table.dashtable td {
    color: #565770;
    padding: 4px 6px;
}

table.tablesorter th.headerSortUp, table.dashtable th.headerSortUp {
    background: #e6edc1 url(../static/tablesorter_bkgrd.png) no-repeat 100% -80px;
}

table.tablesorter th.headerSortUp span, table.dashtable th.headerSortUp span {
    background: #e6edc1 url(../static/tablesorter_bkgrd.png) no-repeat 0 -80px;
}

table.tablesorter th.headerSortDown, table.dashtable th.headerSortDown {
    background: #e6edc1 url(../static/tablesorter_bkgrd.png) no-repeat 100% 2px;
}

table.tablesorter th.headerSortDown span,  table.dashtable th.headerSortDown span{
    background: #e6edc1 url(../static/tablesorter_bkgrd.png) no-repeat 0 2px;
}

table.tablesorter th span, table.dashtable th span {
    padding: 4px 0 4px 6px;
    font-weight: bold;
}

table.tablesorter tr.master,  table.dashtable tr.master {
    background-color: #dadada;
}

table.tablesorter td p {
    margin: 4px 0 4px 0;
}

table.tablesorter td p:nth-child(2) {
    margin: 0 0 4px 0;
    
}

table.tablesorter td p:last-child {
    margin: 4px 0 0 0;
}

table.tablesorter td div strong {
    font-weight: bold;
}

table.tablesorter td div em {
    font-style: italic;
}

table.grid .collapsible {
    padding: 0 0 3px 0;
}

table.dashtable td.provider, table.dashtable td.type {
    text-decoration: underline;
    cursor: pointer;
}

table.dashtable td.provider:hover,  table.dashtable td.type:hover {
    color: blue;
    text-decoration: underline;
}

table.dashtable tr.selectedDashRow {
    background-color: #CBD5E8;
}


table.dashtable td.type {
    width: 105px;
}

table.dashtable td.provider {
    width: 115px;
}

table.dashtable td.spnames {
    width: 85px;
}



/*
 * image gallery
 */

#gallery, #gallery ul{
    list-style:none;
    margin:0 auto;
    padding:0;
    height:259px;
}

#gallery li{
    margin:0px 0px;
    padding:4px;
    float:left;
    list-style:none;
    cursor:pointer;
    height:72px;
}

#gallery img, #gallery div {
    border:2px white solid;
}

#imagesTab div, #gallery div {
    font-style: normal;
    font-weight: normal;
    padding-top: 4px;
    padding-left: 4px;
}

#imagesTab div {
    font-size: 12px;
}

#gallery div {
    font-size: 10px
}