/* BEGIN Shared Styles */

/* sets defaults for units within a widget background greed fade theme,
 * as well as min-height and 100% width */
.FIRST {
    pointer-events: none;
}
.TOP {
    pointer-events: none;
}
.MIDDLE {
    pointer-events: none;
}
.BOTTOM {
    pointer-events: none;
}
.LAST {
    pointer-events: none;
}
.widgetTheme{
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.89, rgba(29,43,82,0.65)),
        color-stop(0.57, rgba(29,43,82,0.75))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgba(29,43,82,0.65) 89%,
        rgba(29,43,82,0.75) 57%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A51D2B52', endColorstr='#BF1D2B52');
    -webkit-box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.347656);
    box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;
    color: rgb(240, 240, 260);
}
button{
    width: auto;
    margin: 2px;
    font-size: 1.1em;
    font-weight:700;
    color: rgb(240, 240, 260);
    background-color: rgba(25, 25, 25, 0.75);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BF191919', endColorstr='#BF191919');
    -moz-box-shadow: 2px 2px 5px #000;
    -webkit-box-shadow: 2px 2px 5px #000;
    box-shadow: 2px 2px 5px #222;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
}
button:hover{
    background-color: rgba(25, 25, 25, 1.0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF191919', endColorstr='#FF191919');
    cursor: pointer;
}

.mol-Map-TopLeftControl {
    pointer-events: none;
}

.mol-Map-CenterTopControl {
    pointer-events: none;
}

.mol-Map-RightControl {
    pointer-events: none;
}

.mol-Map-RightBottomControl {
    pointer-events: none;
}

.mol-Map-LeftBottomControl {
    pointer-events: none;
}
/* BEGIN Layers Widget
 * Add, Delete
 * Layer Stack
 */

.mol-LayerControl-Menu {
    width: 100%;
    float: left;
    list-style-type: none;
    font-size: 0.8em;
    pointer-events: auto;
}
.mol-LayerControl-Menu .button:hover{
    color: #FFF;
    cursor: pointer;
}
.mol-LayerControl-Menu div{
    float: right;
    text-align: center;
    padding: 5px;
    width: 90px;
}
.mol-LayerControl-Menu div.add{
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
}
.mol-LayerControl-Menu div.label{
    width: 20px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.347656);
    box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.37, rgba(35, 35, 35,0.85)),
        color-stop(0.69, rgba(66,66,66,0.85))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgba(35, 35, 35,0.85) 37%,
        rgba(66,66,66,0.85) 69%
    );
    color: #fff;
    text-align: left;
    cursor: pointer;
    padding-bottom: 5px;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF191919', endColorstr='#FF191919');

}
.mol-LayerControl-Menu div.label img{
    float: right;
    height: 16px;
    padding-right: 2px;
}
.mol-LayerControl-Menu div.label img{
    float: right;
    height: 16px;
    padding-right: 2px;
}
.mol-LayerControl-Menu .layersToggle {
    visibility:hidden;
}

.mol-LayerControl-Layers {
    pointer-events:auto;
}

.mol-LayerControl-Layers ::-webkit-scrollbar {
    width: 11px;
    height: 0px;
}
.mol-LayerControl-Layers ::-webkit-scrollbar-button:vertical {
    background-color: white;
    border: 1px solid white;
}
.mol-LayerControl-Layers ::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
}
.mol-LayerControl-Layers
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}
.mol-LayerControl-Layers ::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: white;
}
.mol-LayerControl-Layers .scrollContainer{
    max-height: 400px;
    width: 100%;
    overflow-y: auto;
    overflow-x: visible;
}

.mol-LayerControl-Layers .layer, .staticLink{
    display: table-cell;
    width: 405px;
    margin-top: 3px;
    padding: 2px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 3px solid rgba(0,0,0,0.01);
    cursor: pointer;
}
.mol-LayerControl-Layers .staticLink{
    display: none;
}
.mol-LayerControl-Layers .staticLink .linkText{
    float: left;
    height: 20px;
    line-height: 20px;
    width: 95%;
}
.mol-LayerControl-Layers .staticLink input::selection {
    background: #ababab;
    background-color: #ababab;
}
.mol-LayerControl-Layers .staticLink input::-webkit-selection {
    background: #ababab;
    background-color: #ababab;
}
.mol-LayerControl-Layers .staticLink input::-moz-selection {
    background: #ababab;
    background-color: #ababab;
}

.mol-LayerControl-Layers .layer.selected{
    border: 3px solid rgba(255, 122, 122, .55);
}
.mol-LayerControl-Layers .layer .layerName{
    float: left;
    white-space:normal;
    width: 30%;
    margin-left: 5px;
    margin-right: 5px;
    pointer-events: none;
}
.mol-LayerControl-Layers .layer .layerNomial{
    float: left;
    width: 100%;
    font-size: 0.6em;
}
.mol-LayerControl-Layers .layer .layerNomial:first-line{
    font-size: 2em;
}
.mol-LayerControl-Layers .layer .type{
    float: left;
    text-align: center;
    width: 20px;
    height: 20px;
    padding: 0px;

}
.mol-LayerControl-Layers .layer .source{
    float: left;
    text-align: center;
    width: 20px;
    height: 20px;
    padding: 0px;

}
.mol-LayerControl-Layers .layer .type img{
    height: 16px;
    width: 16px;
}
.mol-LayerControl-Layers .layer .source img{
    height: 16px;
    width: 16px;
}
.mol-LayerControl-Layers .layer .buttonContainer {
    width: 20px;
    height: 20px;
    float: right;
    position: relative;
    margin-right: 5px;
}

.mol-LayerControl-Layers .layer .toggle {
    opacity: 0.0;
	position:absolute;
	left:0;
	z-index:100;
    float: left;
	width:24px;
	height:24px;
    cursor: pointer;

}
.mol-LayerControl-Layers .layer .customCheck:after{
	content:url('/static/maps/layers/inactive.png');
    margin: 2px;
    padding: 0px 1px 0px 1px;
    height: 24px;
	position:absolute;
    left: 0;
    background-color: rgba(25, 25, 25, 0.75);
    -moz-box-shadow: 2px 2px 5px #000;
    -webkit-box-shadow: 2px 2px 5px #000;
    box-shadow: 2px 2px 5px #222;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
}
.mol-LayerControl-Layers .layer .toggle:hover + .customCheck:after{
    background-color: rgba(25, 25, 25, 1.0);
    cursor: pointer;
}
.mol-LayerControl-Layers .layer .toggle:checked + .customCheck:after {
	content:url('/static/maps/layers/active.png');
}
.mol-LayerControl-Layers .layer .info{
    float: right;
    position: relative;
    width: 7%;
    font-style: italic;
    font-size: 1.2em;
    height: 24px;
}

.mol-LayerControl-Layers .layer .close {
    float: right;
    position: relative;
    width: 7%;
    font-style: italic;
    font-size: 1.2em;
    height: 24px;
}

.mol-LayerControl-Layers .layer .opacity {
    float: right;
    position: relative;
    width: 20%;
    font-style: italic;
    font-size: 1.2em;
    height: 24px;
    margin-right: 35px;
}

.mol-LayerControl-Layers .layer .zoom {
    float: right;
    position: relative;
    width: 7%;
    font-style: italic;
    font-size: 1.2em;
    height: 24px;
}

.mol-LayerControl-Layers .layerContainer {
    display: table-row;
}
.mol-LayerControl-Layers .loading {
    display: table-cell;
    float: left;
}


/* BEGIN SEARCH UI
 * search, results
 */

.mol-LayerControl-Search, .mol-LayerControl-Add {
    display: table-cell;
    height: 26px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 3px 5px 2px 5px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    white-space: nowrap;
    pointer-events: auto;
}
.mol-LayerControl-Search .title{
    display:inline-block;
    line-height: 25px;
    font-size: 1.1em;
    margin-right: 2px;
}
.mol-LayerControl-Search .value{
    display:inline-block;
    margin-right: 5px;
    /*width: 55%;*/

}

.ui-autocomplete {
        max-height: 500px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
        pointer-events: auto;
    }


.mol-LayerControl-Search .execute{
    display:inline-block;
    margin-left: 4px;
    width: 50px;
    height:20px;
}
.mol-LayerControl-Search .cancel{
    display:inline;
    height: 20px;
    width: 20px;
    margin-left: 4px;
    background-image:url('/static/maps/search/cancel.png');
    background-size:14px 14px;
    background-repeat:no-repeat;
    background-position:center;
}

.mol-LayerControl-Search .cancel img{
    width: 16px;
    height: 16px;
}

.mol-LayerControl-Results{
    float: left;
    width: 100%;
    list-style-type: none;
    text-align: left;
    outline: none;
    position: relative;
    padding: 0px;
    margin: 0px;
    pointer-events: auto;
}

.mol-LayerControl-Results ::-webkit-scrollbar {
    width: 11px;
    height: 0px;
}
.mol-LayerControl-Results ::-webkit-scrollbar-button:vertical {
    background-color: white;
    border: 1px solid white;
}
.mol-LayerControl-Results ::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
}

/* Turn off the down area up on top, and up area on bottom */
.mol-LayerControl-Results
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}
.mol-LayerControl-Results ::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: white;
}

.mol-LayerControl-Results .noresults {
    text-align: center;
}

.mol-LayerControl-Results .dashboard {

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.89, rgba(29,43,82,0.65)),
        color-stop(0.57, rgba(29,43,82,0.75))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgba(29,43,82,0.65) 89%,
        rgba(29,43,82,0.75) 57%
    );
    -webkit-box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.347656);
    box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;
    color: rgb(240, 240, 260);

    padding: 5px;
    margin: 0px;
    width: 100%;
    float: left;
    padding-top: 10px;
    position: relative;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-style:normal;
    font-weight: normal;
}

.mol-LayerControl-Results .dashboard table tr td {
    border-top: 1px solid #CCC;
    border: 1px solid #CCC;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
    font-style: normal;
    font-size: 12px;
}

.mol-LayerControl-Results .dashboard .title {
    font-weight:bold;
    font-size: 18px;
}

.mol-LayerControl-Results .dashboard .subtitle {
    font-size: 14px;
    font-style: italic;
    padding-bottom: 10px;
}

.mol-LayerControl-Results .filters{
    float: left;
    width: 30%;
    height: 100%;
    margin-right: 5px;
    padding: 0px;
    border: 0px;
}
.mol-LayerControl-Results .filters .filter{
    padding: 4px;
    margin: 0px 0px 5px 0px;
    font-size: 12px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}
.mol-LayerControl-Results .filters .filter .options{
    max-height: 125px;
    overflow-y: auto;
}
.mol-LayerControl-Results .filters .filter .filterName{
    margin-bottom: 5px;
    font-size: 1.1em;
}

.mol-LayerControl-Results .filters .filter .option a{
    color: rgb(230, 254, 230);
}
.mol-LayerControl-Results .filters .filter .option {
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 2px;
    font-weight: normal;
    cursor: pointer;
}

.mol-LayerControl-Results .filters .filter .option.selected {
    text-decoration: underline;
    cursor: pointer;
}

.mol-LayerControl-Results .filters .filter .option .hidden {
    visibility: hidden;
}

.mol-LayerControl-Results .searchResults{
    padding: 5px;
    margin: 0px;
    width: 61%;
    float: left;
    padding-top: 10px;
    position: relative;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.mol-LayerControl-Results .searchResults .selectAll {
    color: #E6FAE6;
    padding-left: 2px;
    font-size: 0.9em;
    float: right;
    padding-right: 10px;
}

.mol-LayerControl-Results .searchResults .selectNone {
    color: #E6FAE6;
    padding-left: 2px;
    font-size: 0.9em;
    float: right;
    padding-right: 10px;
}

.mol-LayerControl-Results .searchResults .resultList{
    position: relative;
    list-style-type: none;
    padding: 0px;
    max-height: 380px;
    overflow-y: auto;
}


.mol-LayerControl-Results ul {
    padding-left: 0px;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    float: left;
    position: relative;
}
.mol-LayerControl-Results .result button{
    width: 20px;
    height: 20px;
    color: #fff;
    padding: 0px;
    padding-top: 2px;
}
.mol-LayerControl-Results .result button img{
    width: 16px;
    height: 16px;
}
.mol-LayerControl-Results .result div.resultName{
    width: 55%;
    display:inline-block;
    margin-left: 4px;
}
.mol-LayerControl-Results .result .resultAuthor{
    font-size: 0.8em;
    margin-top: -4px;
}
.mol-LayerControl-Results .result div.resultLink{
    width: 20%;
    font-size: 0.9em;
    padding-top: 1%;
    float: left;
}
.mol-LayerControl-Results .result a{
    color: rgb(230, 250, 230);
}
.mol-LayerControl-Results .resultType{
    display:inline-block;
}
.mol-LayerControl-Results .resultSource{
    display:inline-block;
}
.mol-LayerControl-Results .result .buttonContainer {
	width:24px;
	height:24px;
    position: relative;
    float: right;
    margin-right: 10px;
}

.mol-LayerControl-Results .result .checkbox {
    opacity: 0.0;
	position:absolute;
	left:0;
	z-index:100;
    float: left;
	width:24px;
	height:24px;
    cursor: pointer;

}
.mol-LayerControl-Results .break{
    float: left;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(11,11,11,0.3);
    margin-bottom: 2px;
}
.mol-LayerControl-Results .result .customCheck:after{
	content:url('/static/maps/search/unchecked.png');
	position:absolute;
    left: 0;
}
.mol-LayerControl-Results .result .checkbox:checked + .customCheck:after {
	content:url('/static/maps/search/checked.png');
}
.mol-LayerControl-Results .searchResults .pageNavigation{
    width: 80%;
    float: right;
    padding: 0px;
    margin: 2px;
    margin-top: 5px;
}
.mol-LayerControl-Results .searchResults .pageNavigation button{
    float: right;
    margin-right: 4px;
    font-size: 1.1em;
    padding: 3px;
}


/* BEGIN ADD UI
 * add, results
 */
.mol-LayerControl-Add {
	height: 185px;
	vertical-align: top;
    padding: 3px 5px 2px 5px;
    pointer-events: auto;
}

.mol-LayerControl-Add .title {
	padding: 0 0 20px 10px;
	line-height: 29px;
}

.mol-LayerControl-Add input {
	float:right;
	width:220px;
	height: 17px;
	margin-right: 10px;
}

.mol-LayerControl-Add .key {
	display:block;
	clear:both;
	float:left;
	font-weight:normal;
	font-size: 15px;
	padding: 0 0 11px 10px;
}
.mol-LayerControl-Add .cancel{
    width: 25px;
    margin-left: 6px;
    padding-top: 2px;
    position: absolute;
    top: 5px;
    right: 15px;
}
.mol-LayerControl-Add .cancel img{
    width: 100%;
}
.mol-LayerControl-Add .execute{
    float: left;
    margin-left: 6px;
    width: 50px;
    position: absolute;
    bottom: 10px;
    right: 15px;
}
.mol-Map-QueryDisplay {
    clear:both;
    height: 25px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: right;
    font-size: 0.8em;
    white-space: nowrap;
    padding: 2px;
    padding-left:6px;
    padding-right:6px;
    margin: 2px;
    pointer-events:auto;
}
.mol-Map-ListQueryRadius {
     pointer-events:none;
}
.mol-Map-ListQueryInfoWindow {
     font-size: 12px;
     font-style:normal;
     font-weight:normal;
     height:220px;
     width:600px;
     overflow-y:scroll;
     overflow-x:hidden;
     margin:5px
}
.mol-Map-ListQueryInfoWindow .scientificname{
        cursor: pointer;
 }

.mol-Map-LegendDisplay {
    display: none;
    float:right;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 0.8em;
    padding: 2px;
    padding-left:6px;
    padding-right:6px;
    margin: 2px;
}
.mol-Map-LegendDisplay .legendRow {
     margin-left:12px;
}
.mol-Map-LegendDisplay .legendItem {
     display:inline-block;
     width: 8px;
     height: 8px;
}

.mol-Map-LegendDisplay .seasonality1 {
      background-color:#99CC00
}
.mol-Map-LegendDisplay .seasonality2 {
      background-color:#FFCC00
}
.mol-Map-LegendDisplay .seasonality3 {
      background-color:#006BB4
}
.mol-Map-LegendDisplay .seasonality4 {
      background-color:#FF9900
}
.mol-Map-LegendDisplay .seasonality5 {
      background-color:#E25B5B
}
