<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Map of Life</title>
        <link href="/css/homepage.css" media="screen" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Coda">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-26993916-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <div id="header">
            <div id="title">Map of Life</div>
            <div id="subtitle">integrating species distribution knowledge</div>
            <div id="menu">
                <div class="item"><a href="/about/" >Home</a></div>
                <div class="item" id="techLink"><a href="/about/tech">Tech</a></div>
                <div class="item"><a href="/about/demo">Demo</a></div>
                <div class="item"><a href="/people">People</a></div>
            </div>
        </div>
            <div id="container">
                <div id="content">
                    <div class="wrapper">
                        <div class="person top" style="min-height: 1px;">
                            (screenshot of Map of Life with the word "Press" written over it) 
                        </div>
                        <div class="person top" style="padding: 1em 2em 2em 1em; min-height: 1em;">
                            <!-- <div class="name"><a href="http://www.yale.edu/jetz/">Walter Jetz</a></div> -->
                            <p><q>[Map of Life] has a novel capability — a web-mapping tool that integrates disparate data types, from single-occurrence records in museum collections to expert-derived ranges found in field guides.</q></p>
                            <div style="margin-left: 2em;">-- Virginia Gewin, <a href="http://www.nature.com/news/map-of-life-goes-live-1.10621"><em>Map of Life goes live</em></a>, Nature News May 10, 2012</div>
                        </div>
                        <div class="person top" style="padding: 1em 2em 2em 1em; min-height: 1em;">
                            <p><q>The applications for such a compilation are vast. Aside from being an educational tool, it helps expose holes in distribution data sets so that future biodiversity research can focus on more specific targets. It’s also a resource for making better decisions on land management and conservation and a potential means of studying disease transmission in wildlife populations.
                            </q><p>
                            <div style="margin-left: 2em">-- Joanna M. Foster, <a href="http://green.blogs.nytimes.com/2012/05/16/filling-in-the-blanks-on-a-map-of-life/"><em>Filling In the Blanks on a Map of Life</em></a>, New York Times Green Blog May 16, 2012</div>
                        </div>
                    </div>
                </div>
            </div>

<div id="footer">
    <div id="footer_links">
        <a href="/about/">Home</a>
        <a href="http://mappinglife.wordpress.com/">Blog</a>
        <a href="http://www.yale.edu/jetz/">Jetz Lab</a>
        <a href="http://sites.google.com/site/robgur/">Guralnick Lab</a>
        <a href="http://github.com/MapOfLife/MOL">GitHub</a>
    </div>
</div>
<div id="footer_imgs">
        <a href="http://www.nsf.gov/"><img title="National Science Foundation" src="/static/home/nsf.png"></a>
        <a href="http://www.nasa.gov/"><img title="National Aeronautics and Space Administration" src="/static/home/nasa.png"></a>
        <a href="http://www.nceas.ucsb.edu/"><img title="National Center for Ecological Analysis and Synthesis" src="/static/home/nceas.png"></a>
        <a href="http://www.iplantcollaborative.org/"><img title="iPlant Collaborative" src="/static/home/iplant.png"></a>
        <a href="http://www.mountainbiodiversity.org/"><img title="Global Mountain Biodiversity Assessment" src="/static/home/gmba.png"></a>
        <a href="http://www.senckenberg.de"><img title="Senckenberg" src="/static/home/senckenberg.png"></a>
        <a href="http://www.bik-f.de/"><img title="Biodiversität und Klima Forschungszentrum (BiK-F)" src="/static/home/bik_bildzeichen.png"></a>
        <a href="http://www.eol.org/"><img title="Encyclopedia of Life" src="/static/home/eol.png"></a>

        <a href="http://www.gbif.org/"><img title="Global Biodiversity Information Facility" src="/static/home/gbif.png"></a>
</div>

    </body>
</html>
