<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="../../../js/lib/jquery/css/ui-lightness/jquery-ui-1.8.18.custom.css">
    <link rel="stylesheet" href="../../../css/mol.css">
    <link rel="stylesheet" href="../../../css/widgets.css">
    <!--<link rel="stylesheet" href="../../../css/metadata.css">-->
    <link rel="stylesheet" href="../../../css/cartodb.css">
    <link rel="stylesheet" href="../../../css/tablesorter.css">



    <!-- <link rel="stylesheet" href="../../../css/wri-style.css"> -->

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="../../../js/lib/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="../../../js/lib/jquery.numeric.js"></script>
    <script type="text/javascript" src="../../../js/lib/jquery/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="../../../js/lib/jquery.imagesloaded.js"></script>
    <script type="text/javascript" src="../../../js/lib/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="../../../js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="../../../js/lib/backbone-min.js"></script>
    <script type="text/javascript" src="../../../js/lib/class.js"></script>

    <script type="text/javascript" src="../../../js/lib/cartodb-gmapsv3.js?v=1"></script>
    <script type="text/javascript" src="../../../js/lib/wax.g.js"></script>

    {% if prod %}
    <script type="text/javascript" src="../../../static/js/mol.js?r={{ r }}"></script>
    {% else %}
     <script type="text/javascript" src="../../../js/mol.js"></script>
     <script type="text/javascript" src="../../../js/mol.core.js"></script>
     <script type="text/javascript" src="../../../js/mol.bus.js"></script>
     <script type="text/javascript" src="../../../js/mol.services.js"></script>
     <script type="text/javascript" src="../../../js/mol.services.cartodb.js"></script>
     <script type="text/javascript" src="../../../js/mol.mvp.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.search.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.results.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.layers.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.tiles.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.menu.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.loading.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.dashboard.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.query.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.legend.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.basemap.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.metadata.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.splash.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.help.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.sidebar.js"></script>
    {% endif %}

    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="description" content="Map of Life - Range Map." />
    <meta name="keywords" content="map of life" />

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26993916-1']);
        _gaq.push(['_trackPageview']);

        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
    </script>
  </head>
  <body>
    <div id="map_container" class="map_container"></div>
    <script type="text/javascript">
      $(document).ready(function() {
          {% if prod %}
          <!-- Production, so load app without logging and run it. -->
          mol(function(env) {
            bus = env.bus.Bus()
	         proxy = new env.services.Proxy(bus)
	         me = new env.map.MapEngine(proxy, bus)
	         me.start('body');
		 spe = new env.map.splash.SplashEngine(proxy, bus)
                 spe.start()
	         se = new env.map.search.SearchEngine(proxy, bus)
	         se.start(null)
	         te = new env.map.tiles.TileEngine(proxy, bus, me.display.map)
	         te.start()
	         le = new env.map.layers.LayerEngine(proxy, bus, me.display.map)
	         le.start()
	         re = new env.map.results.ResultsEngine(proxy, bus)
	         re.start()
	         ne = new env.map.menu.MenuEngine(proxy, bus)
	         ne.start()
	         le = new env.map.loading.LoadingEngine(proxy, bus)
             le.start()
             de = new env.map.dashboard.DashboardEngine(proxy, bus)
             de.start()
             qe = new env.map.query.QueryEngine(proxy, bus, me.display.map)
             qe.start()
             lge = new env.map.legend.LegendEngine(proxy, bus)
             lge.start()
             bme = new env.map.basemap.BaseMapEngine(proxy, bus, me.display.map)
             bme.start()
             mde = new env.map.metadata.MetadataEngine(proxy, bus)
             mde.start()
             hd = new env.map.help.HelpDialog(proxy, bus)
             hd.start()
             sb = new env.map.sidebar.SidebarEngine(proxy, bus)
             sb.start()
          });
          {% else %}
          env = mol(function(env) {
            bus = env.bus.Bus()
	         proxy = new env.services.Proxy(bus)
	         me = new env.map.MapEngine(proxy, bus)
	         me.start('body');
		 spe = new env.map.splash.SplashEngine(proxy, bus)
           	 spe.start()
	         se = new env.map.search.SearchEngine(proxy, bus)
	         se.start(null)
	         te = new env.map.tiles.TileEngine(proxy, bus, me.display.map)
	         te.start()
	         le = new env.map.layers.LayerEngine(proxy, bus, me.display.map)
	         le.start()
	         re = new env.map.results.ResultsEngine(proxy, bus)
	         re.start()
	         ne = new env.map.menu.MenuEngine(proxy, bus)
	         ne.start()
	         le = new env.map.loading.LoadingEngine(proxy, bus)
             le.start()
             de = new env.map.dashboard.DashboardEngine(proxy, bus);
             de.start()
             qe = new env.map.query.QueryEngine(proxy, bus, me.display.map);
             qe.start()
             lge = new env.map.legend.LegendEngine(proxy, bus)
             lge.start()
             bme = new env.map.basemap.BaseMapEngine(proxy, bus, me.display.map)
             bme.start()
             mde = new env.map.metadata.MetadataEngine(proxy, bus)
             mde.start()
             hd = new env.map.help.HelpDialog(proxy, bus)
             hd.start()
             sb = new env.map.sidebar.SidebarEngine(proxy, bus)
             sb.start()
          });
          {% endif %}
      });
    </script>
  </body>
</html>
